.musicAsset{
    border-bottom: 0.5px solid #ccc;
    padding-top: 1%;
    float:center;
}

.audioElement{
    width: 85%;
    float:center;
    display: table;
    margin: 0 auto;
    padding-top: 1%;
}

.bars{
	 float:center;
     display: table;
     margin: 0 auto;
}

.audio{
    width: 85%;
    top:10px;
    left:10px;
    border:solid;
    float:center;
}

.text{
	float:center;
    display: table;
    margin: 0 auto;
}