#selectionImage0{
    width: 90%;
    height: 90%;
    float:center;
}

#selectionImage1{
    width: 70%;
    height: 70%;
    float:center;
}

#selectionImage2{
    width: 90%;
    height: 90%;
    float:center;
}

#selectionImage3{
    width: 80%;
    height: 150px;
    float:center;
}
