#selectionImage0{
    width: 60%;
    height: 60%;
    float:right;
}

#selectionImage1{
    width: 90%;
    height: 90%;
    float:left;
}

#selectionImage2{
    width: 90%;
    height: 90%;
    float:right;
}

#selectionImage3{
    width: 80%;
    height: 150px;
    float:left;
}
