#blogPost{
	margin: 0 auto;
	float:center;
	text-align: center;
}

.posts{
	border-bottom: 0.5px solid #ccc;
	margin: 0 auto;
}

.imgPosts{
	margin: 0 auto;
	width: 504px;
	float: center;
}

.text{
	float:center;
    display: table;
    margin: 0 auto;
}