body{
    background-color: #000000 !important;
}

/* This sections designates the fonts for the page*/
#header .title,  #header .tagline, #nav, .content p.entry-title, .content p.date {
	font-family: 'Roboto Mono', serif;
    background-color: #000000;
}

p  {
	font-family: 'Roboto Mono', serif;
	font-size: 24px;
    color: #FFFFFF;
}

a {
	font-size: 28px;
    color: #901389 !important;
}

.navbar{
    background-color: #000000 !important;
    text-align: center;
    float:center;
    color: #901389;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*make it so the logo home page button does not have the hover effect that the other buttons have*/
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{
	color:#901389 !important;
	background-color:white !important;
}

#navItems{
    padding-top: 60px;
}

#logo{
    float:center;
    width:500px;
}

/*Below deesignates the styles for each of the HTML items */
#container {
	width: 80%;
	height: 95%;
	margin: 0 auto;
	background-color:#000000;
	top: 5px;
	bottom: 200px;
    float:center;
}

#footer{
	width: 60%;
	height: 60px;
	margin: 0 auto;
	background-color:#000000;
}

/*this is for the right alignment of the twitter,reddit,and twitch logos*/
#socialMedia{
    padding-right: 10px;
    float: right;
}

#content{
    width: 80%;
	height: 95%;
	margin: 0 auto;
	background-color:#000000;
	top: 5px;
	bottom: 200px;
    float:center;
}

#shownImages{
    padding: 0;
    margin: 0 auto;
    margin-top:5%;
}

#videoAsset{
    border-bottom: 0.5px solid #ccc;
}

#video{
    margin-top: 10px;
}