body{
    background-color: #000000 !important;
}

/*@font-face {
  font-family: 'SmallFont';
  src: url('smalle.woff') format('woff'),
       url('smalle.ttf') format('truetype'),
       url('smalle.fon') format('fon');
}*/

/* This sections designates the fonts for the page*/
#header .title,  #header .tagline, #nav, .content p.entry-title, .content p.date {
	font-family: Roboto Mono, serif;
    background-color: #000000;
}

p  {
	font-family: Roboto Mono, serif;
	font-size: 20px;
    color: #FFFFFF;
}

a {
	font-size: 28px;
    color: #901389 !important;
}

h3{
    color: #FFFFFF !important;
    text-decoration: underline;
}

.navbar{
    background-color: #000000 !important;
    text-align: center;
    float:center;
    color: #901389;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*make it so the logo home page button does not have the hover effect that the other buttons have*/
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{
	color:#901389 !important;
	background-color:white !important;
}

#navItems{
    padding-top: 60px;
}

#logo{
    float:center;
    width:500px;
}

/*Below deesignates the styles for each of the HTML items */
#container {
	width: 80%;
	height: 95%;
	margin: 0 auto;
	background-color:#000000;
	top: 5px;
	bottom: 200px;
    float:center;
}

#footer{
	width: 60%;
	height: 60px;
	margin: 0 auto;
	background-color:#000000;
}

/*this is for the right alignment of the twitter,reddit,and twitch logos*/
#socialMedia{
    padding-right: 10px;
    float: right;
}

.content {
	width: 1000px;
	margin: 0 auto;
    background-color:#000000;
	padding-bottom: 40px;
    display:inline-block;
}

#content{
    width: 85%;
}

.content p.entry-title {
	font-size: 30px;
	color: #FFFFFF; 
	margin-bottom: 10px;
	margin-top: 60px;
	margin-left:5px;
}

.content p.date {
	font-size: 20px;
	color: #FFFFFF; 
	margin-bottom: 20px;
	margin-top: 5px;
	margin-left:5px;
}

.content p {
	font-size:16px;
	line-height: 24px;
	color: #FFFFFF;
	margin-left: 5px;
	margin-right: 20px;
}

.content img.displayed {
	position:relative;
	margin-top: 5px;
}

.btn, .btn-primary{
    background-color: #901389 !important;
}

#personImg{
    width: 150px;
    height: 300px;
}

#personInfo{
    margin: 0 auto;
    padding: 0;
    border-bottom: 0.5px solid #ccc;
}

#contact{
    margin: 0 auto;
    padding: 0;
    padding-top: 30px;;
}